body {
    transition: background-color 0.5s;
}

section#color-display {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 100px auto;
    width: 50%;
    background-color: gray;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0, 5);
    padding: 4rem;
    border-radius: 0, 5rem;
}

section#color-display h1 {
    font-weight: 900;
    padding: 5px;
}

section#color-display #new-color-button {
    width: 50%;
    background-color: black;
    color: white;
    font-weight: 900;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

section#color-display #new-color-button:hover {
    background-color: darkgray;
}